
.profile-content h4{
    color:  #ffa500 !important;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}
#profile-card{
    background: #212121;
    object-fit: cover;
    width: 250px;
    text-align: center;
    padding: 13px;
    border-radius: 4px;
    margin-left: 150px;
                 
}
.profile-content{
 display: flex;
 justify-content: center;
 align-items: center;
}
#profile-card h3{
    color: white;
}
