/* Fixed Bacground color  #1a1a1a */
/* Profile card styling   #212121 */
/* Topic or Heading color and main color of our website we gonna use #ffa500 */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace !important;
    background:  #1a1a1a !important;                               
}

<<<<<<< HEAD
canvas {
    max-width: 500px;
    max-height: 500px;
}
=======
>>>>>>> c5873c08d3ab48d4949fdbff38a2dec8c37a5ec7
