/* Fixed Bacground color  #1a1a1a */
/* Profile card styling   #212121 */
/* Topic or Heading color and main color of our website we gonna use #ffa500 */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace !important;
    background:  #1a1a1a !important;                               
}


canvas {
    max-width: 500px;
    max-height: 500px;
}

.bar-animation{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

