a{
    color: white;
    text-decoration: none;
}
.navbar{
    
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px 5%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 3px solid #eb990d;
}
.navbar .logo{
    font-size: 30px;
    font-weight:bolder;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: #eb990d;

}
.home{
    display:flex;
    align-items: center;
    
    padding: 60px 9% 0;
    color: white;
}
.home-info h1{
    font-size: 55px;
}
.home-info h2{
    font-size: 35px;
    margin-top: -10px;
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;

}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #eb990d;
    border: 2px solid  #eb990d;
    box-shadow: 0 0 10px  #eb990d;
    border-radius: 30px;
    font-size: 16px;
    color:black;
    font-weight: 600;
    transition: .4s;

}
.btn:hover{
    background: transparent;
    color:  #eb990d;
    box-shadow: none;
}
.home-info .btn-sci .sci {
margin-left: 20px;
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #eb990d;
    border-radius: 50%;
    font-size: 20px;
    color: #eb990d;
    margin: 0 8px;
    transition: .4s;
    }
    .home-info .btn-sci .sci a:hover{
    background-color: #eb990d;
    color: black;
    box-shadow: 0 0 10px #eb990d;

    }
    .home-img .img-box{
        position: relative;
        width:32vw;
        height: 32vw;
 
        border-radius: 50%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .home-img .img-box::before,
    .home-img .img-box::after{
         content: '';
         position:absolute;
         width: 500px;
         height: 500px;
         background:conic-gradient(transparent,transparent, transparent, #eb990d);


    }
    .home-img .img-box .img-item{
        position: relative;
        width: 100%;
        height: 100%;
        background-color:#1f242d;
        border-radius: 50%;
        border: .1px solid #1f242d;
        display: flex;
        justify-content:center;
        z-index: 1;
        overflow: hidden;

    }
    .home-img .img-box .img-item img{
        position: absolute;
        display:inline-block;
        width: 85%;
        object-fit: cover;
        mix-blend-mode: lighten;
    }
    .bars-animation{
        position: absolute;
        width: 100%;
        height: 100%;
        
    }