/* naveen css file is here */
.chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
    overflow: hidden;
}
canvas {
    max-width: 500px;
    max-height: 500px;
}
